<section id="about" class="py-16 bg-white h-screen">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-violet-800 text-center mb-8">
      About Me
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <!-- Profile Image -->
      <div class="flex justify-center">
        <img
          src="profile.jpg"
          alt="Profile Picture"
          class="rounded-full h-48 w-fit shadow-lg animate-fadeIn"
        />
      </div>

      <!-- About Text -->
      <div class="text-lg text-gray-700">
        <p class="mb-4">
          Hi, I'm <span class="font-semibold">Gobinath</span>, a passionate
          developer with over <span class="font-semibold">2+ years</span> of
          experience in building scalable and user-friendly web and mobile
          applications.
        </p>
        <p class="mb-4">
          I specialize in <span class="font-semibold">Node.js</span>,
          <span class="font-semibold">Angular</span>,
          <span class="font-semibold">AWS</span>, and modern JavaScript
          frameworks. I love turning ideas into reality through clean and
          efficient code. enjoy tackling complex problems and delivering elegant
          solutions.
        </p>
        <p class="mb-4">
          When I'm not coding, you can find me exploring new technologies,
          contributing to open-source projects, or enjoying a good cup of
          coffee.
        </p>
        <a
          href="#contact"
          class="inline-block bg-violet-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300"
        >
          Let's Work Together
        </a>
      </div>
    </div>
  </div>
</section>
