<section
  id="about"
  class="bg-blue-50 h-screen flex justify-center items-center"
>
  <div class="container text-center">
    <h2 class="text-4xl font-bold mb-4 animate-bounce">Hi, I'm Gobinath S</h2>
    <p class="text-gray-700 text-lg mb-6">
      Full Stack Developer specializing in scalable web applications.
    </p>
    <a
      href="#contact"
      class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300"
    >
      Hire Me
    </a>
  </div>
</section>
