<section
  id="hero"
  class="relative w-full overflow-hidden bg-blue-500 h-screen flex items-center justify-center"
>
  <div class="relative w-1/2 text-right text-white">
    <h2 class="text-4xl font-bold mb-4 animate-bounce">
      <span class="text-indigo-800 font-bold">Hi</span>, I'm Gobinath S
    </h2>
    <p class="text-lg font-medium mb-6">
      Full Stack Developer specializing in scalable web applications.
    </p>
    <a
      href="#contact"
      class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300"
    >
      Hire Me
    </a>
  </div>
  <div class="w-1/2"></div>
  <div
    class="absolute w-[68%] h-[1000px] -top-[28%] -right-[19%] bg-white z-1 overflow-hidden rounded-l-[50%]"
  >
    <img
      class="absolute left-16 bottom-56 w-80 object-center object-cover"
      src="happy-teen-cartoon-sitting-floor_1308-133774.jpg"
    />
  </div>
</section>
