<section id="projects" class="bg-blue-50 py-16 min-h-screen">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold text-center mb-8">Projects</h2>
    <div class="flex flex-col gap-6 p-6">
      @for (item of projects; track $index) {
      <div class="md:flex gap-6">
        <img
          src="{{ item.pic_url }}"
          alt="Profile Picture"
          class="rounded-lg w-sm h-48 md:w-md md:h-64 w-fit shadow-lg animate-fadeIn"
        />
        <div>
          <h3 class="text-xl font-semibold mb-2">{{ item.title }}</h3>
          <p class="text-gray-600 mb-4">{{ item.description }}</p>
          <a href="{{ item.website_url }}" class="text-blue-600 hover:underline"
            >View Project</a
          >
        </div>
      </div>
      }
    </div>
    <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div
        class="bg-white p-6 shadow-lg rounded-lg hover:shadow-xl transition-shadow"
      >
        <h3 class="text-xl font-semibold mb-2">Project 1</h3>
        <p class="text-gray-600 mb-4">Description of Project 1.</p>
        <a href="#" class="text-blue-600 hover:underline">View Project</a>
      </div>
      <div
        class="bg-white p-6 shadow-lg rounded-lg hover:shadow-xl transition-shadow"
      >
        <h3 class="text-xl font-semibold mb-2">Project 2</h3>
        <p class="text-gray-600 mb-4">Description of Project 2.</p>
        <a href="#" class="text-blue-600 hover:underline">View Project</a>
      </div>
      <div
        class="bg-white p-6 shadow-lg rounded-lg hover:shadow-xl transition-shadow"
      >
        <h3 class="text-xl font-semibold mb-2">Project 3</h3>
        <p class="text-gray-600 mb-4">Description of Project 3.</p>
        <a href="#" class="text-blue-600 hover:underline">View Project</a>
      </div>
    </div> -->
  </div>
</section>
