<section id="skills" class="py-16 bg-[#f6f6f6]">
  <div class="mx-auto">
    <h2 class="text-4xl font-bold text-center mb-8">Skills</h2>
    <div class="flex flex-wrap justify-center gap-6">
      @for (item of skills; track $index) {
      <div
        key="$index"
        class="bg-white p-6 w-45 shadow-md rounded-md text-center hover:scale-104 transition-transform duration-300 ease-in-out"
      >
        <img
          loading="lazy"
          src="{{ item.icon }}"
          alt="{{ item.name }}"
          class="w-auto h-16 mx-auto mb-4"
        />
        <h3 class="text-xl font-semibold mb-2">{{ item.name }}</h3>
      </div>
      }
    </div>
  </div>
</section>
